/*
 * Reset button styles
 * source: https://css-tricks.com/overriding-default-button-styles/
 */
button {
  display: inline-block;
  border: none;
  padding: 1rem;
  margin: 0;
  background: none;
  text-decoration: none;
  font-family: $base-font-family;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;

  // remove blue box around button when click it on mobile
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  color: $color-accent;
  //background: $color-accent;
}

button:focus {
  //outline: 1px solid #fff;
  //outline-offset: -4px;
  outline: none;
}

button:active {
  transform: scale(0.99);
}

.btn {
  text-transform: uppercase;
  font-weight: $bold;
  color: $color-font-full;
  background-color: transparent;
  outline: 0;
}

.btn-square {
  border: 0;
}

.btn-lg {
  padding: 10px 37.5px;
  font-size: 1.2em;
}

.btn-md {
  padding: 7.5px 30px;
  font-size: 1em;
}

.btn-sm {
  padding: 6px 22.5px;
  font-size: 0.8em;
}

.btn-full-accent {
  border: 2px solid $color-accent;
  color: $color-accent;
}
