.flex-row {
  /*
     * all children are automatically
     * considered columns
     */
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.flex-column {
  /*
     * all children are automatically
     * considered rows
     */
  display: flex;
  flex-direction: column;
}

.flex-centered {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.flex-wrapper {
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  flex-wrap: nowrap;
}
