#site-footer {
  @include hide;
  width: 100%;
  margin: 0 0 20px 0;
  z-index: 70;

  @media screen and (min-width: 576px) {
    @include show;
    position: sticky;
    bottom: 10px;
    height: 40px;
    margin: 0;
  }

  .flex-row {
    flex-direction: column;

    @media screen and (min-width: 576px) {
      flex-direction: row;
    }
  }

  .social-icon {
    display: inline-flex;
    margin: 20px 0 0 0;
    @media screen and (min-width: 576px) {
      margin: 0;
    }

    a {
      vertical-align: middle;
      margin: 0 10px;

      @media screen and (min-width: 576px) {
        margin: 0 0 0 20px;
      }

      font-size: 1.5em;
    }
  }

  .copy {
    color: $color-font-light;
  }
}
