.hero-container {
  height: 100vh;

  // 80px height from header
  margin-top: -80px;

  // 62px from height of footer 20px margin
  margin-bottom: -84px;

  @media screen and (min-width: 576px) {
    // 40px height from footer
    margin-bottom: -40px;
  }

  justify-content: center;

  width: 100%;

  img {
    border: 1px solid $color-font-light;
  }
}

.hero-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-description {
  display: flex;
  flex-direction: column;

  h1 {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: $bold;
  }

  .social-text {
    @include hide;

    li {
      margin: 0 10px;
      text-transform: uppercase;

      &:hover {
        color: $color-accent;
      }

      &:first-child {
        margin: 0 10px 0 0;
      }
    }
  }

  .social-icon {
    @include show;
    display: inline-flex;
    justify-content: center;

    a {
      vertical-align: middle;
      margin: 0 12px;
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 576px) {
  .hero-description {
    flex-direction: column;
    margin: 0 0 0 20px;

    h1 {
      text-align: left;
    }

    .social-text {
      @include show;
      display: inline-flex;
    }

    .social-icon {
      @include hide;
    }
  }

  .hero-container-inner {
    flex-direction: row;
  }
}
