body.dark {
  --transition-time: 1s;

  background-color: $color-background-dark;
  transition: background-color var(--transition-time);

  button.mode-switch {
    color: #eee;
    transition: color var(--transition-time);

    &:hover {
      color: $color-accent;
    }
  }

  #site-header h1 a,
  #site-footer a{
    color: #999;
    transition: color var(--transition-time);

    &:hover {
      color: $color-accent;
    }
  }

  .hero-container {
    img {
      border: none;
    }

    h1 {
      color: #eee;
      transition: color var(--transition-time);
    }

    .social-text a {
      color: #999;
      transition: color var(--transition-time);

      &:hover {
        color: $color-accent;
      }
    }

    .social-icon a {
      color: #eee;
      transition: color var(--transition-time);

      &:hover {
        color: $color-accent;
      }
    }
  }
}
